.env
.venv/
__pycache__/
*.pyc
db.sqlite3
.next/
node_modules/
dist/
build/
media/
.DS_Store
docx_extract/
*.zip
# Django static files
staticfiles/

# Python logs
*.log

# migration cache
**/migrations/__pycache__/

# Windows
Thumbs.db

# Build folders
dist/
build/